nav.navbar.navbar-default
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbarContent")
                span.sr-only Toggle naivgation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/viewer") プチＰログビューアーβ
            
        .collapse.navbar-collapse#navbarContent
            ul.nav.navbar-nav.navbar-right
                li: a(href="/viewer") すべて
                li: a(href="/viewer/users") ユーザー
                li: a(href="/viewer/parkings") 入庫・出庫
                li: a(href="/viewer/points") ポイント
                li: a(href="/") アプリに戻る